body {
  background-color: black;
  color: white;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.banner {
  height: 300px;
  background-color: gray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}

.row-posters {
  display: flex;
  overflow-x: scroll;
}

.movie img {
  width: 150px;
}
@media (max-width: 768px) {
  .movie img {
    width: 100px;
  }

  .banner {
    height: 200px;
  }
}
.movie img:hover {
  transform: scale(1.1);
}